In [2]:
# importing all the required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [3]:
driver = webdriver.Chrome("chromedriver.exe")


Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [64]:
# Opening the url
driver.get('https://www.naukri.com/')
search_job = driver.find_element_by_id('qsb-keyword-sugg')
#searching for Data Analyst
search_job.send_keys("Data Analyst")
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
#searching for Bangalore location
search_loc.send_keys("Bangalore")
#Searching for the above specified one by hitting the button
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']//button")
search_btn.click()

In [65]:
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

Title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
companies=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
Experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

for i in Title:
    title=i.text
    job_titles.append(title)
    
for i in companies:
    company_name=i.text
    company_names.append(company_name)

for i in locations:
    location=i.text
    locations_list.append(location)

for i in Experience:
    experience=i.text
    experience_list.append(experience)

In [66]:
print(len(job_titles),len(company_names),len(experience_list),len(locations_list))

20 20 20 20

In [67]:
# Putting all the colleected information in a DataFrame
jobs = pd.DataFrame({})
jobs['Job Title']=job_titles
jobs['Job Location']=locations_list
jobs['Company Name']=company_names
jobs['Experience Required']=experience_list

In [68]:
jobs[0:10]

,Job Title,Job Location,Company Name,Experience Required
0,Data Analyst - SAP,"Pune, Delhi, Bengaluru, Gurgaon",Boston Scientific Corporation,3-5 Yrs
1,Hiring Data Analysts on Contract,Bengaluru,Flipkart Internet Private Limited,2-5 Yrs
2,Senior Data Analyst,Bengaluru / Bangalore,Schneider Electric,2-5 Yrs
3,Data Analyst,Bengaluru,Shell India Markets Private Limited,5-8 Yrs
4,Business / Data Analyst,Bengaluru,IBM India Pvt. Limited,2-4 Yrs
5,Intern Data Analyst,Bengaluru,Outsource Big Data,0-1 Yrs
6,Data Analyst,Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,4-6 Yrs
7,Data Analyst,Bengaluru,Reliance Jio Infocomm Ltd.,8-9 Yrs
8,Requirement For Data Analyst(Advance excel can...,"Chennai, Bengaluru",Emagine People Technologies Private Limited,0-2 Yrs
9,SENIOR DATA ANALYST,Bengaluru,McAfee Software (India) Pvt. Ltd,7-12 Yrs

In [69]:
driver.close()

2. Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location,company_name, full job-description. You have to scrape first 10 jobs data.

In [70]:
driver = webdriver.Chrome("chromedriver.exe")

In [61]:
# Opening the url
driver.get('https://www.naukri.com/')
delay=10
#searching for Data Scientist
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']//button")
search_btn.click()

In [77]:
job_titles=[]
company_names=[]
locations_list=[]

In [78]:
Title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
companies=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [79]:
for i in Title:
    title=i.text
    job_titles.append(title)
    
for i in locations:
    location=i.text
    locations_list.append(location)
    
for i in companies:
    company_name=i.text
    company_names.append(company_name)

In [80]:
print(len(job_titles),len(locations_list),len(company_names))

20 20 20

In [81]:
# Putting all the colleected information in a DataFrame
jobs = pd.DataFrame({})
jobs['Job Title']=job_titles
jobs['Job Location']=locations_list
jobs['Company Name']=company_names

In [82]:
jobs[0:10]

,Job Title,Job Location,Company Name
0,Data Scientist/Data Analyst-immediate,"Chennai, Pune, Bengaluru, Hyderabad",Inflexion Analytix Private Limited
1,Data Scientist - Python/ MATLAB/ Machine Learn...,Bengaluru,Wrackle Technologies Pvt Ltd
2,Lead Data Scientist - Machine Learning/ Data M...,Bengaluru,Wrackle Technologies Pvt Ltd
3,Data Scientist - Machine Learning (Commerce BU),Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED
4,Opening For Sr. Data Scientist @ Tech Mahindra,"Pune, Bengaluru",Tech Mahindra Ltd.
5,Opening For Sr. Data Scientist @ Tech Mahindra,"Pune, Bengaluru",Tech Mahindra Ltd.
6,Senior Data Scientist - NLP/ Python/ R,"Bengaluru, Hyderabad",AVI Consulting LLP
7,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",CES Ltd.
8,Data Scientist- Manager/Sr. Manager,Bengaluru,GENPACT India Private Limited
9,Sr Data Scientist,"Pune, Mumbai, Bengaluru, Gurgaon, Kolkata",Concentrix Daksh Services India Private Limited.

In [62]:
desc = []

In [67]:
job = driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[2]/div[2]/article[1]/div[1]/div[1]/a').click()

Q3: In this question you have to scrape data using the filters available on the
webpage :

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs

In [83]:
driver = webdriver.Chrome("chromedriver.exe")

In [84]:
# Opening the url
driver.get('https://www.naukri.com/')
#searching for Data Scientist
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']//button")
search_btn.click()

In [85]:
loc = driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]').click()

In [86]:
sal = driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/p').click()

In [87]:
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

Title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
companies=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
Experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

for i in Title:
    title=i.text
    job_titles.append(title)
    
for i in companies:
    company_name=i.text
    company_names.append(company_name)

for i in locations:
    location=i.text
    locations_list.append(location)

for i in Experience:
    experience=i.text
    experience_list.append(experience)

In [88]:
print(len(job_titles),len(company_names),len(experience_list),len(locations_list))

20 20 20 20

In [89]:
# Putting all the colleected information in a DataFrame
jobs = pd.DataFrame({})
jobs['Job Title']=job_titles
jobs['Job Location']=locations_list
jobs['Company Name']=company_names
jobs['Experience Required']=experience_list

In [90]:
jobs[0:10]

,Job Title,Job Location,Company Name,Experience Required
0,Data Scientist,Gurgaon Gurugram,IBM India Pvt. Limited,4-8 Yrs
1,Data Scientist,Gurgaon Gurugram,Ciena,5-6 Yrs
2,Data Scientist,"Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Be...",Country Veggie,1-3 Yrs
3,Data Scientist Machine Learning,Gurgaon,Delhivery,1-3 Yrs
4,Business Analyst - Data Scientist,Gurgaon,HyreFox Consultants Pvt Ltd,3-5 Yrs
5,Analyst - Data Scientist,Gurgaon,HyreFox Consultants Pvt Ltd,1-3 Yrs
6,Data Scientist,"Faridabad, Delhi NCR, Ghaziabad",Amity University,6-8 Yrs
7,Data Scientist,"Bengaluru, Gurgaon",BlackBuck,3-7 Yrs
8,Senior Data Scientist,Delhi,iNICU,1-5 Yrs
9,Senior Data Scientist - NLP,Delhi NCR,IRIS SOFTWARE Inc,4-9 Yrs

In [91]:
driver.close()

Q4: Write a python program to scrape data for first 10 job results for Data scientist
Designation in Noida location. You have to scrape company_name, No. of days
ago when job was posted, Rating of the company from webpage https://www.glassdoor.co.in/index.htm

In [11]:
driver = webdriver.Chrome("chromedriver.exe")

In [12]:
# Opening the url
driver.get('https://www.glassdoor.co.in/index.htm')

In [13]:
#searching for Data Scientist
search_job = driver.find_element_by_id('scKeyword')
search_job.send_keys("Data Scientist")

In [14]:
#searching for Noida location
search_loc = driver.find_element_by_xpath("//input[@id='scLocation']")
search_loc.send_keys("Noida")

In [15]:
search_btn = driver.find_element_by_xpath("//button[@class='pl-0 pr-xsm SearchStyles__searchKeywordSubmit']")
search_btn.click()

In [16]:
company_names=[]
Posted=[]
Rating=[]

In [17]:
company=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")

In [18]:
post=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")

In [20]:
for i in company:
    company_name=i.text
    company_names.append(company_name)

In [375]:
for i in post:
    po=i.text
    Posted.append(po)

In [21]:
len(company),len(post)

(30, 1)

In [22]:
# Putting all the colleected information in a DataFrame
glass_jobs = pd.DataFrame({})
glass_jobs['Company Name']=company
#glass_jobs['Days posted']=post[1]

In [23]:
glass_jobs[0:10]

                                        Company Name
0  <selenium.webdriver.remote.webelement.WebEleme...
1  <selenium.webdriver.remote.webelement.WebEleme...
2  <selenium.webdriver.remote.webelement.WebEleme...
3  <selenium.webdriver.remote.webelement.WebEleme...
4  <selenium.webdriver.remote.webelement.WebEleme...
5  <selenium.webdriver.remote.webelement.WebEleme...
6  <selenium.webdriver.remote.webelement.WebEleme...
7  <selenium.webdriver.remote.webelement.WebEleme...
8  <selenium.webdriver.remote.webelement.WebEleme...
9  <selenium.webdriver.remote.webelement.WebEleme...

In [84]:
rat=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")

In [85]:
for i in company:
    company_name=i.text
    company_names.append(company_name)

In [86]:
for i in post:
    po=i.text
    Posted.append(po)

In [87]:
for i in rat:
    ra=i.text
    Rating.append(ra)

In [88]:
len(company_names),len(Posted),len(Rating)

(30, 30)

In [89]:
# Putting all the colleected information in a DataFrame
glass_jobs = pd.DataFrame({})
glass_jobs['Company Name']=company[0:10]
glass_jobs['Days posted']=post[0:10]
glass_jobs['Rating']=rat[0:10]

In [90]:
glass_jobs[0:10]

,Company Name,Days posted
0,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
1,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
2,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
3,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
4,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
5,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
6,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
7,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
8,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
9,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...

Q5: Write a python program to scrape the salary data for Data Scientist designation
in Noida location from webpage https://www.glassdoor.co.in/Salaries/index.htm

Scrape data for first 10 companies. Scrape the min salary, max salary, company
name, Average salary and rating of the company.

In [24]:
driver = webdriver.Chrome("chromedriver.exe")

In [25]:
# Opening the url
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [26]:
#searching for Data Scientist
search_job = driver.find_element_by_id('KeywordSearch')
search_job.send_keys("Data Scientist")

In [27]:
#searching for Noida location
search_loc = driver.find_element_by_xpath("//input[@id='LocationSearch']")
search_loc.send_keys("Noida")

In [30]:
search_btn = driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_btn.click()

In [31]:
Min_sal=[]
Max_sal=[]
Avg_sal=[]
Company_name=[]
Rating=[]

In [399]:
min_sal=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")

In [419]:
max_sal=driver.find_elements_by_xpath("//*[@id='SalariesByCompany']/div[1]/div[4]/div/div[3]")

In [425]:
avg_sal=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")

company=driver.find_elements_by_xpath("//*[@id='SalariesByCompany']/div[1]/div[4]/div/div[1]/div/div[2]/p[2]")

In [40]:
for i in min_sal:
    ms=i.text
    Min_sal.append(ms)

In [ ]:
for i in max_sal:
    mxs=i.text
    Max_sal.append(mxs)

In [422]:
for i in avg_sal:
    avs=i.text
    Avg_sal.append(avs)

In [426]:
for i in company:
    comp=i.text
    Company_name.append(comp)

In [41]:
len(min_sal),len(company)

(0, 30)

In [42]:
# Putting all the colleected information in a DataFrame
glass_sal = pd.DataFrame({})
glass_sal['Minimum Salary']=min_sal
glass_sal['Maximum Salary']=max_sal
glass_sal['Average Salary']=avg_sal
glass_sal['Company Name']=company
glass_sal['Rating']=rat[0:10]

NameError: name 'max_sal' is not defined

In [431]:
glass_sal

,Minimum Salary,Average Salary,Company Name
0,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [92]:
driver = webdriver.Chrome("chromedriver.exe")

In [93]:
# Opening the url
driver.get('https://www.flipkart.com/')

In [94]:
#searching for Sunglasses
search = driver.find_element_by_xpath("""//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input""")
search.send_keys("sunglasses")

In [95]:
search.submit()

In [96]:
Brand=[]
product_description=[]
Price=[]
Discount=[]

In [97]:
for page in range(0,3):
    brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    product=driver.find_elements_by_xpath("//div[@class='_2B099V']")
    price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    

    for i in brand:
        br=i.text
        Brand.append(br)
        
    for i in product:
        pr=i.text
        product_description.append(pr)
    
    for i in price:
        pri=i.text
        Price.append(pri)
    
    for i in discount:
        dis=i.text
        Discount.append(dis)

In [98]:
print(len(Brand),len(product_description),len(Price),len(Discount))

120 120 120 120

In [99]:
# Putting all the colleected information in a DataFrame
sunglasses = pd.DataFrame({})
sunglasses['Brand']=Brand
sunglasses['Product Description']=product_description
sunglasses['Price']=Price
sunglasses['Discount']=Discount

In [100]:
sunglasses[0:100]

,Brand,Product Description,Price,Discount
0,ROZZETTA CRAFT,ROZZETTA CRAFT\nUV Protection Retro Square Sun...,₹499,77% off
1,Fastrack,Fastrack\nUV Protection Aviator Sunglasses (Fr...,₹599,33% off
2,Fastrack,"Fastrack\nGradient, UV Protection Wayfarer Sun...",₹499,37% off
3,Fastrack,"Fastrack\nGradient, UV Protection Wayfarer Sun...",₹499,37% off
4,ROZZETTA CRAFT,"ROZZETTA CRAFT\nUV Protection, Gradient Rectan...",₹404,79% off
...,...,...,...,...
95,JUST STYLE,JUST STYLE\nPolarized Round Sunglasses (15)\n₹...,₹99,83% off
96,kingsunglasses,"kingsunglasses\nMirrored, UV Protection Wayfar...",₹284,81% off
97,Fastrack,Fastrack\nUV Protection Aviator Sunglasses (58...,₹896,31% off
98,Fastrack,"Fastrack\nMirrored, UV Protection Wayfarer Sun...",₹549,45% off
99,FDA COLLECTION,"FDA COLLECTION\nGradient, Mirrored, UV Protect...",₹199,86% off

In [101]:
driver.close()

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.

In [113]:
driver = webdriver.Chrome("chromedriver.exe")

In [114]:
# Opening the url
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC')

In [115]:
Rating=[]
Review_summary=[]
Full_review=[]

In [116]:
# To observe more reviews,hitting the next button
Next_btn = driver.find_elements_by_xpath('//div[@class="_3UAT2v _16PBlm"]/span')[0].click()

In [117]:
for page in range(0,12):
    rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']") 
    summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")    
    review=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [118]:
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

10

In [119]:
for i in rating:
    rat=i.text
    Rating.append(rat)
        
for i in summary:
    summ=i.text
    Review_summary.append(summ)
    
for i in review:
    rev=i.text
    Full_review.append(rev)

In [120]:
len(rating),len(summary),len(review)

(10, 10, 10)

In [121]:
# Putting all the colleected information in a DataFrame
iphone = pd.DataFrame({})
iphone['Rating']=Rating
iphone['Review Summary']=Review_summary
iphone['Full Review']=Full_review

In [122]:
iphone[0:10]

,Rating,Review Summary,Full Review
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
3,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
4,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
5,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
6,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
7,5,Worth every penny,It’s been almost a month since I have been usi...
8,5,Wonderful,*Review after 10 months of usage*\nDoesn't see...
9,4,Nice product,Awesome Phone. Slightly high price but worth. ...

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and
search for “sneakers” in the search field.

In [142]:
driver = webdriver.Chrome("chromedriver.exe")

In [143]:
# Opening the url
driver.get('https://www.flipkart.com/')

In [144]:
#searching for Sneakers
search = driver.find_element_by_xpath("""//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input""")
search.send_keys("sneakers")

In [145]:
search.submit()

In [146]:
Brand=[]
product_description=[]
Price=[]
Discount=[]

In [147]:
for page in range(0,3):
    brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    product=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    

    for i in brand:
        br=i.text
        Brand.append(br)
        
    for i in product:
        pr=i.text
        product_description.append(pr)
    
    for i in price:
        pri=i.text
        Price.append(pri)
    
    for i in discount:
        dis=i.text
        Discount.append(dis)

In [148]:
print(len(Brand),len(product_description),len(Price),len(Discount))

120 102 120 120

In [150]:
# Putting all the colleected information in a DataFrame
sneakers = pd.DataFrame({})
sneakers['Brand']=Brand[0:100]
sneakers['Product Description']=product_description[0:100]
sneakers['Price']=Price[0:100]
sneakers['Discount']=Discount[0:100]

In [151]:
sneakers

,Brand,Product Description,Price,Discount
0,India hub,Canvas casual sneaker shoes Sneakers For Men,₹499,83% off
1,CRYSTA,1245 Spider Red Sneakers For Men,₹278,44% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹474,76% off
3,Robbie jones,Combo Pack of 4 Latest Collection Stylish Casu...,₹399,60% off
4,World Wear Footwear,Combo pack of 2 casual sneaker shoes for men S...,₹474,76% off
...,...,...,...,...
95,Axter,"casual , Partywear Sneakers Shoes For Men's an...",₹299,70% off
96,Hotstyle,Synthetic Leather Casual Partywear Wedding Sne...,₹199,60% off
97,LeatherKraft,Smart Casuals Canvas Shoes Combo pack of 2 Sne...,₹299,70% off
98,World Wear Footwear,168 Smart Red Lace-Ups Casuals for Men Sneaker...,₹228,54% off
99,Red Tape,SM-322 Sneakers For Men,"₹1,678",70% off

In [152]:
driver.close()

Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [247]:
driver = webdriver.Chrome("chromedriver.exe")

In [43]:
# Opening the url
driver.get('https://www.myntra.com/shoes')

In [44]:
# Applying color filter
color_filter = driver.find_element_by_xpath("""//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]""")
color_filter.click()

In [45]:
#Applying price filter
price_filter = driver.find_element_by_xpath("""//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]""").click()

In [46]:
Brand=[]
Short_Description=[]
Price=[]

In [53]:
brand = driver.find_element_by_xpath("//h3[@class='product-brand']")

In [162]:
short_desc = driver.find_element_by_xpath("//*[@id='desktopSearchResults']/div[2]/section/ul/li[1]/a/div[2]/h4[1]")

In [59]:
price = driver.find_element_by_xpath("//div[@class='product-price']")

In [ ]:
for i in brand:
    br=i.text
    Brand.append(br)
        
for i in short_desc:
    pr=i.text
    Short_Description.append(pr)
    
for i in price:
    pri=i.text
    Price.append(pri)

In [ ]:
driver.close()

Q10: Go to webpage https://www.amazon.in/
 Enter “Laptop” in the search field and then click the search icon.
 Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”
    
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes
for each laptop:
1. title
2. Ratings
3. Price

In [71]:
driver = webdriver.Chrome("chromedriver.exe")

In [85]:
# opening the amazon url website using the link given
driver.get('https://www.amazon.in/')

In [86]:
#searching for laptop
search_product = driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']")
search_product.send_keys("Laptop")

In [87]:
# pressing the search button
search_btn = driver.find_element_by_xpath("//*[@id='nav-search-bar-form']/div[2]")
search_btn.submit()

In [95]:
# applying filter of corei7
corei7 = driver.find_element_by_xpath("""//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span""").click()

In [94]:
# applying filter of corei7
corei9 = driver.find_element_by_xpath("""//*[@id='p_n_feature_thirteen_browse-bin/16757432031']/span/a""")
corei9.click()

In [242]:
for i in title:
    ti=i.text
    Title.append(ti)
        
for i in rating:
    rat=i.text
    Rating.append(rat)
    
for i in price:
    pri=i.text
    Price.append(pri)

In [243]:
len(Title),len(rating),len(price)

(28, 15, 28)

In [245]:
# Putting all the colleected information in a DataFrame
Laptop = pd.DataFrame({})
Laptop['Title']=Title[0:10]
Laptop['rating']=rating[0:10]
Laptop['Price']=Price[0:10]

In [246]:
Laptop[0:10]

,Title,rating,Price
0,ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...,<selenium.webdriver.remote.webelement.WebEleme...,"₹77,990"
1,"Lenovo Yoga S940 Intel Core i7 10th Gen 14"" UH...",<selenium.webdriver.remote.webelement.WebEleme...,"₹1,19,990"
2,Dell Alienware m15(R3) 15.6-inch FHD Gaming La...,<selenium.webdriver.remote.webelement.WebEleme...,"₹1,97,200"
3,ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...,<selenium.webdriver.remote.webelement.WebEleme...,"₹2,68,325"
4,Mi Notebook Horizon Edition 14 Intel Core i7-1...,<selenium.webdriver.remote.webelement.WebEleme...,"₹57,999"
5,HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inc...,<selenium.webdriver.remote.webelement.WebEleme...,"₹74,990"
6,ASUS ROG G703GI-E5148T 17.3-inch FHD 144Hz/3ms...,<selenium.webdriver.remote.webelement.WebEleme...,"₹5,22,077"
7,Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...,<selenium.webdriver.remote.webelement.WebEleme...,"₹1,09,990"
8,HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...,<selenium.webdriver.remote.webelement.WebEleme...,"₹75,482"
9,Lenovo Legion 5i 10th Gen Intel Core i7 15.6 i...,<selenium.webdriver.remote.webelement.WebEleme...,"₹89,990"

In [191]:
driver.close()