1.Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [10]:
# importing the required libraries
from bs4 import BeautifulSoup
import requests

# For displaying all the header Tags

In [11]:
url = "https://en.wikipedia.org/wiki/Main_Page"
page = requests.get(url)
soup = BeautifulSoup(page.content,'html.parser')
soup.find_all(['h{}'.format(i) for i in range(1,6)])

[<h1 class="firstHeading" id="firstHeading" lang="en">Main Page</h1>,
 <h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>,
 <h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>,
 <h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>,
 <h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>,
 <h2 class="mp-h2" id="mp-tfl-h2"><span id="From_today.27s_featured_list"></span><span class="mw-headline" id="From_today's_featured_list">From today's featured list</span></h2>,
 <h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>,
 <h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>,
 <h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>,
 <h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>,
 <h2>Navigation menu</h2>,
 <h3 id="p-personal-label">
 <span>Personal tools</span>
 </h3>,
 <h3 id="p-namespaces-label">
 <span>Namespaces</span>
 </h3>,
 <h3 id="p-variants-label">
 <span>Variants</span>
 </h3>,
 <h3 id="p-views-label">
 <span>Views</span>
 </h3>,
 <h3 id="p-cactions-label">
 <span>More</span>
 </h3>,
 <h3>
 <label for="searchInput">Search</label>
 </h3>,
 <h3 id="p-navigation-label">
 <span>Navigation</span>
 </h3>,
 <h3 id="p-interaction-label">
 <span>Contribute</span>
 </h3>,
 <h3 id="p-tb-label">
 <span>Tools</span>
 </h3>,
 <h3 id="p-coll-print_export-label">
 <span>Print/export</span>
 </h3>,
 <h3 id="p-wikibase-otherprojects-label">
 <span>In other projects</span>
 </h3>,
 <h3 id="p-lang-label">
 <span>Languages</span>
 </h3>]

# For displaying all the headlines

In [12]:
url = "https://en.wikipedia.org/wiki/Main_Page"
page = BeautifulSoup(requests.get(url).text, "lxml")

for headlines in page.find_all("h1"):
    print(headlines.text.strip())

Main Page

In [13]:
for headlines in page.find_all("h2"):
        print(headlines.text.strip())

From today's featured article
Did you know ...
In the news
On this day
From today's featured list
Today's featured picture
Other areas of Wikipedia
Wikipedia's sister projects
Wikipedia languages
Navigation menu

In [14]:
for headlines in page.find_all("h3"):
    print(headlines.text.strip())

Personal tools
Namespaces
Variants
Views
More
Search
Navigation
Contribute
Tools
Print/export
In other projects
Languages

2.Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [15]:
from bs4 import BeautifulSoup
import requests
url = "http://www.imdb.com/chart/top"
page = requests.get(url)
soup = BeautifulSoup(page.content,'html.parser')

title = soup.find_all('td',class_='titleColumn')
year = soup.find_all('span',class_='secondaryInfo')
rating = soup.find_all('td',class_='ratingColumn imdbRating')

Title=[]
Year=[]
Rating=[]

for i in title:
    Title.append(i.get_text())
for i in year:
    Year.append(i.get_text())
for i in Rating:
    rating.append(i.get_text())

print(len(title),len(year),len(rating))

250 250 250

In [16]:
import pandas as pd
Top = pd.DataFrame({})
Top['Title']=title[:100]
Top['Year']=year[:100]
Top['Rating']=rating[:100]

In [17]:
Top

,Title,Year,Rating
0,"[\n 1.\n , [The Shawshank Redemption...",[(1994)],"[\n, [9.2], \n]"
1,"[\n 2.\n , [The Godfather], \n, [(19...",[(1972)],"[\n, [9.1], \n]"
2,"[\n 3.\n , [The Godfather: Part II],...",[(1974)],"[\n, [9.0], \n]"
3,"[\n 4.\n , [The Dark Knight], \n, [(...",[(2008)],"[\n, [9.0], \n]"
4,"[\n 5.\n , [12 Angry Men], \n, [(195...",[(1957)],"[\n, [8.9], \n]"
...,...,...,...
95,"[\n 96.\n , [Citizen Kane], \n, [(19...",[(1941)],"[\n, [8.3], \n]"
96,"[\n 97.\n , [Dangal], \n, [(2016)], \n]",[(2016)],"[\n, [8.3], \n]"
97,"[\n 98.\n , [Full Metal Jacket], \n,...",[(1987)],"[\n, [8.2], \n]"
98,"[\n 99.\n , [Ladri di biciclette], \...",[(1948)],"[\n, [8.2], \n]"
99,"[\n 100.\n , [Singin' in the Rain], ...",[(1952)],"[\n, [8.2], \n]"

3.Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [18]:
from bs4 import BeautifulSoup
import requests
url = "https://www.imdb.com/india/top-rated-indian-movies/"
page = requests.get(url)
soup = BeautifulSoup(page.content,'html.parser')

title = soup.find_all('td',class_='titleColumn')
year = soup.find_all('span',class_='secondaryInfo')
rating = soup.find_all('td',class_='ratingColumn imdbRating')

Title=[]
Year=[]
Rating=[]

for i in title:
    Title.append(i.get_text())
for i in year:
    Year.append(i.get_text())
for i in Rating:
    rating.append(i.get_text())

print(len(title),len(year),len(rating))

250 250 250

In [19]:
import pandas as pd
IM = pd.DataFrame({})
IM['Title']=title[:100]
IM['Year']=year[:100]
IM['Rating']=rating[:100]

In [20]:
IM

,Title,Year,Rating
0,"[\n 1.\n , [Pather Panchali], \n, [(...",[(1955)],"[\n, [8.5], \n]"
1,"[\n 2.\n , [Gol Maal], \n, [(1979)],...",[(1979)],"[\n, [8.5], \n]"
2,"[\n 3.\n , [Ratsasan], \n, [(2018)],...",[(2018)],"[\n, [8.5], \n]"
3,"[\n 4.\n , [Nayakan], \n, [(1987)], \n]",[(1987)],"[\n, [8.5], \n]"
4,"[\n 5.\n , [Anbe Sivam], \n, [(2003)...",[(2003)],"[\n, [8.5], \n]"
...,...,...,...
95,"[\n 96.\n , [Lucia], \n, [(2013)], \n]",[(2013)],"[\n, [8.0], \n]"
96,"[\n 97.\n , [Bombay], \n, [(1995)], \n]",[(1995)],"[\n, [8.0], \n]"
97,"[\n 98.\n , [Maqbool], \n, [(2003)],...",[(2003)],"[\n, [8.0], \n]"
98,"[\n 99.\n , [Omkara], \n, [(2006)], \n]",[(2006)],"[\n, [8.0], \n]"
99,"[\n 100.\n , [Section 375], \n, [(20...",[(2019)],"[\n, [8.0], \n]"

4.Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

In [21]:
from bs4 import BeautifulSoup
import requests
url = "https://bookpage.com/"
page = requests.get(url)
soup = BeautifulSoup(page.content,'html.parser')

book = soup.find_all('a',class_='title')
author = soup.find_all('p',class_='sans bold')
Genre = soup.find_all('p',class_='genre-links hidden-phone')
review = soup.find_all('li',class_='dropdown')

In [22]:
book_name=[]
author_name=[]
genre=[]
book_review=[]

In [23]:
for i in book:
    book_name.append(i.get_text())
for i in author:
    author_name.append(i.get_text())
for i in review:
    book_review.append(i.get_text())
for i in Genre:
    genre.append(i.get_text())

In [24]:
print(len(book_name),len(author_name),len(Genre),len(book_review))

0 6 6 2

In [25]:
import pandas as pd
books = pd.DataFrame({})
books['book']=book_name[:2]
books['author']=author_name[:2]
books['genre']=genre[:2]
books['review']=book_review[:2]

In [26]:
books

,book,author,genre,review
0,NaN,\nFeature by Julie Hale\n,\nFiction\n / \nPopular Fiction\n / \nScience ...,\nBook Reviews\n\nAll Reviews\nFiction\nNonfic...
1,NaN,\nFeature by Christie Ridgway\n,\nRomance\n / \nParanormal Romance\n / \nHisto...,\nSubscribe\n\nLibrary\nBookstore\nIndividual\n\n

5.Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:

i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [27]:
from bs4 import BeautifulSoup
import requests
page = requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
soup = BeautifulSoup(page.content,'html.parser')

teams = soup.find_all('span',class_='u-hide-phablet')
matches = soup.find_all('td',class_='table-body__cell u-center-text')
points = soup.find_all('td',class_='rankings-block__banner--points')
rating = soup.find_all('td',class_='rankings-block__banner--rating u-text-right')

Team_Name=[]
Matches=[]
Points=[]
Rating=[]

for i in range(0,len(teams)):
    Team_Name.append(teams[i].get_text())  

for i in range(0,len(matches)):
    Matches.append(matches[i].get_text())
    
for i in range(0,len(points)):
    Points.append(points[i].get_text())

for i in range(0,len(rating)):
    Rating.append(rating[i].get_text())
    
print(len(teams),len(matches),len(points),len(rating))

25 38 1 1

In [28]:
import pandas as pd
df = pd.DataFrame({})
df['Team_Name']=teams[:1]
df['Matches']=matches[:1]
df['Points']=points[:1]
df['Rating']=rating[:1]

In [29]:
df

,Team_Name,Matches,Points,Rating
0,[England],[52],"[5,405]",[\n 123\n ...


ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [30]:
from bs4 import BeautifulSoup
import requests
page = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")
soup = BeautifulSoup(page.content,'html.parser')

player = soup.find_all('td',class_='table-body__cell name')
team = soup.find_all('span',class_='table-body__logo-text')
rating = soup.find_all('td',class_='table-body__cell u-text-right rating')

Player=[]
Team=[]
Rating=[]

for i in range(0,len(player)):
    Player.append(player[i].get_text())  

for i in range(0,len(team)):
    Team.append(team[i].get_text())
    
for i in range(0,len(rating)):
    Rating.append(rating[i].get_text())
    
print(len(player),len(team),len(rating))

54 54 54

In [31]:
import pandas as pd
df = pd.DataFrame({})
df['Player']=player[:10]
df['Team']=team[:10]
df['Rating']=rating[:10]

In [32]:
df

                            Player   Team Rating
0         [\n, [Rohit Sharma], \n]  [IND]  [842]
1           [\n, [Babar Azam], \n]  [PAK]  [837]
2          [\n, [Ross Taylor], \n]   [NZ]  [818]
3          [\n, [Aaron Finch], \n]  [AUS]  [791]
4  [\n, [Francois du Plessis], \n]   [SA]  [790]
5         [\n, [David Warner], \n]  [AUS]  [773]
6      [\n, [Kane Williamson], \n]   [NZ]  [765]
7      [\n, [Quinton de Kock], \n]   [SA]  [755]
8       [\n, [Jonny Bairstow], \n]  [ENG]  [754]
9     [\n, [Mujeeb Ur Rahman], \n]  [AFG]  [708]


iii) Top 10 ODI bowlers along with the records of their team and rating.

In [33]:
from bs4 import BeautifulSoup
import requests
page = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")
soup = BeautifulSoup(page.content,'html.parser')

player = soup.find_all('td',class_='table-head__cell')
team = soup.find_all('span',class_='table-body__logo-text')
rating = soup.find_all('td',class_='table-body__cell u-text-right rating')

Player=[]
Team=[]
Rating=[]

for i in range(0,len(player)):
    Player.append(player[i].get_text())  

for i in range(0,len(team)):
    Team.append(team[i].get_text())
    
for i in range(0,len(rating)):
    Rating.append(rating[i].get_text())
    
print(len(player),len(team),len(rating))

0 54 54

In [34]:
import pandas as pd
df = pd.DataFrame({})
df['Player']=player[:10]
df['Team']=team[:10]
df['Rating']=rating[:10]

In [35]:
df

   Player   Team Rating
0     NaN  [IND]  [842]
1     NaN  [PAK]  [837]
2     NaN   [NZ]  [818]
3     NaN  [AUS]  [791]
4     NaN   [SA]  [790]
5     NaN  [AUS]  [773]
6     NaN   [NZ]  [765]
7     NaN   [SA]  [755]
8     NaN  [ENG]  [754]
9     NaN  [AFG]  [708]

6.Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape: 

i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [36]:
from bs4 import BeautifulSoup
import requests
page = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
soup = BeautifulSoup(page.content,'html.parser')

teams = soup.find_all('span',class_='u-hide-phablet')
matches = soup.find_all('td',class_='table-body__cell u-center-text')
points = soup.find_all('td',class_='rankings-block__banner--points')
rating = soup.find_all('td',class_='rankings-block__banner--rating u-text-right')

Team_Name=[]
Matches=[]
Points=[]
Rating=[]

for i in range(0,len(teams)):
    Team_Name.append(teams[i].get_text())  

for i in range(0,len(matches)):
    Matches.append(matches[i].get_text())
    
for i in range(0,len(points)):
    Points.append(points[i].get_text())

for i in range(0,len(rating)):
    Rating.append(rating[i].get_text())

In [37]:
print(len(teams),len(matches),len(points),len(rating))

15 18 1 1

In [38]:
import pandas as pd
df = pd.DataFrame({})
df['Team_Name']=teams[:1]
df['Matches']=matches[:1]
df['Points']=points[:1]
df['Rating']=rating[:1]

In [39]:
df

,Team_Name,Matches,Points,Rating
0,[Australia],[15],"[2,436]",[\n 162\n ...

ii) Top 10 women’s ODI players along with the records of their team and rating.

In [40]:
from bs4 import BeautifulSoup
import requests
page = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")
soup = BeautifulSoup(page.content,'html.parser')

player = soup.find_all('a',class_='table-body__cell name')
team = soup.find_all('td',class_='table-body__cell nationality-logo')
rating = soup.find_all('td',class_='table-body__cell u-text-right rating')

Player=[]
Team=[]
Rating=[]

for i in range(0,len(player)):
    Player.append(player[i].get_text())  

for i in range(0,len(team)):
    Team.append(team[i].get_text())
    
for i in range(0,len(rating)):
    Rating.append(rating[i].get_text())
    
print(len(player),len(team),len(rating))

0 27 27

In [41]:
import pandas as pd
df = pd.DataFrame({})
df['Player']=player[:1]
df['Team']=team[:1]
df['Rating']=rating[:1]

In [42]:
df

   Player                    Team Rating
0     NaN  [\n, [], \n, [WI], \n]  [746]

iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [43]:
from bs4 import BeautifulSoup
import requests
page = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")
soup = BeautifulSoup(page.content,'html.parser')

player = soup.find_all('th',class_='table-head')
team = soup.find_all('td',class_='table-body__cell nationality-logo')
rating = soup.find_all('td',class_='table-body__cell u-text-right rating')

Player=[]
Team=[]
Rating=[]

for i in range(0,len(player)):
    Player.append(player[i].get_text())  

for i in range(0,len(team)):
    Team.append(team[i].get_text())
    
for i in range(0,len(rating)):
    Rating.append(rating[i].get_text())
    
print(len(player),len(team),len(rating))

0 27 27

In [44]:
import pandas as pd
df = pd.DataFrame({})
df['Player']=player[:3]
df['Team']=team[:3]
df['Rating']=rating[:3]

In [45]:
df

   Player                     Team Rating
0     NaN   [\n, [], \n, [WI], \n]  [746]
1     NaN  [\n, [], \n, [AUS], \n]  [741]
2     NaN  [\n, [], \n, [IND], \n]  [732]


7.Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [46]:
from bs4 import BeautifulSoup
import requests
page = requests.get("https://www.amazon.in/s?k=mobiles+under+20000&ref=nb_sb_noss_2")
soup = BeautifulSoup(page.content,'html.parser')

name = soup.find_all('span',class_='a-size-medium a-color-base a-text-normal')
price = soup.find_all('span',class_='a-price-whole')
rating = soup.find_all('i',class_='a-icon a-icon-star-small a-star-small-4 aok-align-bottom')

In [47]:
Product_Name=[]
Price=[]
Average_Rating=[]

In [48]:
images = soup.find_all('img') 
  
for i in images: 
    print(i['src'])

https://images-eu.ssl-images-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405936311_.png
https://images-eu.ssl-images-amazon.com/images/G/31/img19/MAI/Sweepstakes/June20/SWM_DownloadApp._CB410314483_.jpg
https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY218_.jpg
https://m.media-amazon.com/images/I/71hDPUM7VPL._AC_UY218_.jpg
https://m.media-amazon.com/images/I/61CnyJ-IbML._AC_UY218_.jpg
https://m.media-amazon.com/images/I/81o1rDu5FZL._AC_UY218_.jpg
https://m.media-amazon.com/images/I/71AYb2AGHXL._AC_UY218_.jpg
https://m.media-amazon.com/images/I/81onqHVeECL._AC_UY218_.jpg
https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UY218_.jpg
https://m.media-amazon.com/images/I/41QsvcpKaZL._AC_UY218_.jpg
https://m.media-amazon.com/images/I/71hDPUM7VPL._AC_UY218_.jpg
https://m.media-amazon.com/images/I/71OxJeyywSL._AC_UY218_.jpg
https://m.media-amazon.com/images/I/710p2f-zAdL._AC_UY218_.jpg
https://m.media-amazon.com/images/I/71AYb2AGHXL._AC_UY218_.jpg
https://m.media-amazon.com/images/I/71hDPUM7VPL._AC_UY218_.jpg
https://m.media-amazon.com/images/I/71Sinqbw35L._AC_UY218_.jpg
https://m.media-amazon.com/images/I/71dujTTJDZL._AC_UY218_.jpg
https://m.media-amazon.com/images/I/71jzMLHiMfL._AC_UY218_.jpg

In [49]:
for i in range(0,len(name)):
    Product_Name.append(name[i].get_text())  

for i in range(0,len(price)):
    Price.append(price[i].get_text())

for i in range(0,len(rating)):
    Average_Rating.append(rating[i].get_text())

In [50]:
print(len(name),len(price),len(rating))

16 14 13

In [51]:
import pandas as pd
df = pd.DataFrame({})
df['Product_Name']=name[:10]
df['Price']=price[:10]
df['Average_Rating']=rating[:10]

In [52]:
df

,Product_Name,Price,Average_Rating
0,"[Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)]","[8,999]",[[4.0 out of 5 stars]]
1,"[Redmi 9A (Nature Green, 2GB Ram, 32GB Storage)]","[6,999]",[[4.2 out of 5 stars]]
2,"[Oppo A31 (Fantasy White, 6GB RAM, 128GB Stora...","[11,990]",[[4.0 out of 5 stars]]
3,"[Samsung Galaxy M01 (Blue, 3GB RAM, 32GB Stora...","[7,499]",[[3.9 out of 5 stars]]
4,"[Samsung Galaxy M01 Core (Black, 2GB RAM, 32GB...","[5,999]",[[3.9 out of 5 stars]]
5,"[Samsung Galaxy M01 (Black, 3GB RAM, 32GB Stor...","[7,499]",[[4.0 out of 5 stars]]
6,"[Oppo A31 (Mystery Black, 6GB RAM, 128GB Stora...","[11,990]",[[4.2 out of 5 stars]]
7,"[Panasonic Eluga i7 (2GB RAM, 16GB Storage, Fi...","[5,000]",[[4.2 out of 5 stars]]
8,"[Redmi 9A (Sea Blue, 2GB Ram, 32GB Storage)]","[6,999]",[[4.1 out of 5 stars]]
9,"[Samsung Galaxy M31 (Space Black, 6GB RAM, 128...","[7,999]",[[4.2 out of 5 stars]]

8.Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [53]:
from bs4 import BeautifulSoup
import requests
page = requests.get("https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YB4WBegzZPY")
soup = BeautifulSoup(page.content, 'html.parser')
seven_day = soup.find(id="seven-day-forecast")
forecast_items = seven_day.find_all(class_="tombstone-container")
tonight = forecast_items[0]

period = tonight.find(class_="period-name").get_text()
short_desc = tonight.find(class_="short-desc").get_text()
temp = tonight.find(class_="temp").get_text()

img = tonight.find("img")
desc = img['title']

period_tags = seven_day.select(".tombstone-container .period-name")
periods = [pt.get_text() for pt in period_tags]

short_descs = [sd.get_text() for sd in seven_day.select(".tombstone-container .short-desc")]
temps = [t.get_text() for t in seven_day.select(".tombstone-container .temp")]
descs = [d["title"] for d in seven_day.select(".tombstone-container img")]

import pandas as pd
weather = pd.DataFrame({})
weather["period"]=periods[:7]
weather["short_desc"]=short_descs[:7]
weather['temp']=temps[:7]
weather['desc']=descs[:7]

In [54]:
weather

,period,short_desc,temp,desc
0,Overnight,Mostly Cloudy,Low: 48 °F,"Overnight: Mostly cloudy, with a steady temper..."
1,Monday,Mostly Cloudy,High: 58 °F,"Monday: Mostly cloudy, with a high near 58. Ca..."
2,MondayNight,Mostly Cloudy,Low: 48 °F,"Monday Night: Mostly cloudy, with a low around..."
3,Tuesday,Mostly Cloudy,High: 58 °F,"Tuesday: Mostly cloudy, with a high near 58. W..."
4,TuesdayNight,Mostly Cloudy,Low: 47 °F,"Tuesday Night: Mostly cloudy, with a low aroun..."
5,Wednesday,Sunny,High: 60 °F,"Wednesday: Sunny, with a high near 60."
6,WednesdayNight,Partly Cloudy,Low: 48 °F,"Wednesday Night: Partly cloudy, with a low aro..."